<h1>Have a question?<h1>

<%= form_for(@question) do |f| %>
    <% if f.object.errors.any? %>
    <ul>
        <% f.object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    <% end %>
    <%= question_customer_id_field(@question) %>
    <%= question_product_id_field(@question) %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Submit" %>

<% end %>