<h2>Question & answers<h2>

<p>Question: <%= @question.description %></p>
<% @question.answers.each do |answer| %>
<div>
  <p>Answer:<%= answer.description %>
  <p>By <%= answer.user %> <%= "SELLER" if answer.user == @product.seller %> on <%= answer.updated_at ||= answer.created_at %>
</div>
<% end %>